---
---
<!doctype html>
<html lang="en">
<head>
    <title>Pixelated Controller</title>
    <link href="{{ baseurl }}/style/main.css" rel="stylesheet">
    <link href="{{ baseurl }}/style/home.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  {% include nav.html %}

  <div class="home-section" id="hero-carousel">
    <div id="cartridge" class="carousel-slide">
      <div class="carousel-slide-container">
        <div id="carousel-cartridge-image-container" class="carousel-slide-container-split">
          <div class="iphone">
            <div class="iphone-screen">
              <img src="cartridge/images/cartridge-home.jpeg" id="carousel-image-cartridge">
            </div>
            <div class="iphone-touchid"></div>
          </div>
        </div>

        <div id="carousel-cartridge-content-container" class="carousel-slide-container-split">
          <h1 class="section-title" id="carousel-title-cartridge">Introducing Cartridge</h1>
          <p class="section-subtitle" id="carousel-subtitle-cartridge">An app for managing your video game backlog</p>
          <a href="https://apps.apple.com/ca/app/id1515668068" class="link-button" id="carousel-cta-cartridge">Download now</a>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section" id="about-us">
    <h1 class="section-title" id="home-title-about">About Us</h1>
    <p id="home-description-about">
      Pixelated Controller is a one-person developer creating the best gaming companion apps for iPhone and iPad.
      <br><br>
      Our goal is to provide tools, resources, and all kinds of power-ups to empower your gaming experience. Even when you're not gaming.
    </p>
  </div>

  <div class="home-section" id="blog">
    <div id="home-blog-link-container">
      <h1 class="section-title" id="home-title-blog">Pixelated Blog</h1>
      <a href="{{ baseurl }}/blog" class="link-button" id="home-cta-blog">Follow our blog</a>
    </div>
  </div>
</body>

{% include footer.html %}
