---
---
<!doctype html>
<html lang="en">
<head>
    <title>Pixelated Controller</title>
    <link href="style/main.css" rel="stylesheet">
    <link href="style/home.css" rel="stylesheet">
</head>

<body>
  {% include nav.html %}

  <div class="home-section" id="hero-carousel">
    <div id="cartridge" class="carousel-slide">
      <h1 id="home-title-cartridge">Introducing Cartridge</h1>
      <p id="home-subtitle-cartridge">Manage your video game backlog and track your progress, notes, and even your own review, as you play.</p>
    </div>
  </div>

  <div class="home-section" id="about-us">
    <h1 id="home-title-about">Apps for Gamers</h1>
    <p id="home-subtitle-about">We make apps to empower your gaming experience even when you're not gaming.</p>
    <p id="home-description-about">
      Our goal at Pixelated Controller is to create everyday apps that helps enrich your life as a gamer. We aim to provide tools,
      resources, and all kinds of power-ups to make things like managing your backlog easier.
      <br />
      We have many ideas in the pipeline, and recently launched our first app, <a href="">Cartridge</a>, to help keep your
      backlog slim and manageable. Download it now and give it a try!
      <br />
      In the future, we're looking at apps for managing your collection, tracking video game puzzles, and more. To stay updated on
      future updates, follow us on <a href="https://twitter.com/Pixelated_Blog">Twitter</a> and bookmark our <a href="/blog">blog</a>.
    </p>
  </div>

  <div class="home-section" id="blog">
    <h1 id="home-title-blog">Pixelated Blog</h1>
    <p id="home-subtitle-blog">Follow our blog for the latest updates.</p>
  </div>
</body>

{% include footer.html %}
