---
---

#blog-hero {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7fa;
}

#posts-index {
  width: 70%;
  padding: 64px 0px 64px 0px;
  margin: auto;

  #posts-list {
    list-style: none;

    .posts-list-urlcontainer {
      display: block;
      text-decoration: none;
    }

    .posts-list-container {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 56px;

      .posts-list-post-image-container {
        width: 20%;
      }

      .post-peek-container-split {
        width: 80%;
        padding: 16px 32px 16px 32px;
        border-radius: 16px;

        &:hover {
          background-color: #f9f9f9;
        }
      }

      .post-title {
        width: 70%;
        text-decoration: none;
        font-size: 40px;
        color: #3a3a3a;
      }

      .post-date {
        color: #acacac;
        font-size: 21px;
        margin-top: 8px;
      }

      .post-subtitle {
        width: 70%;
        font-size: 18px;
        line-height: 1.5em;
        margin-top: 8px;
        color: #7f7f7f;
      }
    }
  }
}

/* Post Styles */

#post-content {
  width: 55%;
  margin: auto;
  padding: 72px 0px 72px 0px;

  #post-title {
    font-size: 40px;
  }

  #post-metadata {
    padding: 8px 0px 8px 0px;

    p {
      color: #7a7a7a;
    }
  }

  p {
    font-family: serif;
    font-size: 24px;
    color: #3a3a3a;
    line-height: 1.5em;
    margin-bottom: 24px;
  }
}
