---
---

@import "variables";

#blog-hero {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7fa;
}

#posts-index {
  width: 65%;
  padding: 64px 24px 64px 24px;
  margin: auto;

  @media (max-width: $breakpoint-mobile) {
    height: auto;
    width: 100%;
  }

  #posts-list {
    list-style: none;

    .posts-list-urlcontainer {
      display: block;
      text-decoration: none;
    }

    .posts-list-container {
      list-style-type: none;
      margin-bottom: 56px;
      border-radius: 16px;

      &:hover {
        background-color: #f9f9f9;
      }

      .posts-list-post-image-container {
        text-align: center;
        padding: 16px 0px 16px 0px;

        img {
          max-height: 200px;
        }
      }

      .post-peek-container-split {
        margin: auto;
        text-align: center;
        padding: 16px 32px 16px 32px;
      }

      .post-title {
        text-decoration: none;
        font-size: 32px;
        color: #3a3a3a;
      }

      .post-date {
        color: #acacac;
        font-size: 18px;
        margin-top: 8px;
      }

      .post-subtitle {
        width: 70%;
        margin: auto;
        font-size: 18px;
        line-height: 1.5em;
        margin-top: 16px;
        color: #7f7f7f;
      }
    }
  }
}

/* Post Styles */

#post-content {
  width: 55%;
  margin: auto;
  padding: 72px 0px 72px 0px;

  @media (max-width: $breakpoint-mobile) {
    width: 80%;
  }

  #post-image {
    max-width: 700px;
    text-align: center;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 48px;
  }

  #post-title {
    font-size: 40px;

    @media (max-width: $breakpoint-mobile) {
      font-size: 24px;
    }
  }

  #post-metadata {
    padding: 8px 0px 8px 0px;

    @media (max-width: $breakpoint-mobile) {
      font-size: 12px;
    }

    p {
      color: #7a7a7a;
    }
  }

  h2,h3,h4,h5,h6 {
    margin-top: 56px;
    margin-bottom: 24px;
  }

  p {
    font-family: "Noto Serif", serif;
    font-size: 24px;
    color: #3a3a3a;
    line-height: 1.5em;
    margin-bottom: 24px;

    @media (max-width: $breakpoint-mobile) {
      font-size: 18px;
    }
  }
}
