---
---

@import "variables";

.home-section {
  padding: 32px 64px 32px 64px;

  @media (max-width: $breakpoint-mobile) {
    padding: 32px 24px 32px 24px;
  }

  .section-title {
    font-size: 32px;
    line-height: 40px;
  }

  .section-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #9a9a9a;
  }
}

#hero-carousel {
  height: 100%;

  @media (max-width: $breakpoint-mobile) {
    height: auto;
  }

  .carousel-slide {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: -5%;

    @media (max-width: $breakpoint-mobile) {
      display: block;
      margin-top: 0;
    }

    .carousel-slide-container {
      width: 80%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;

      @media (max-width: $breakpoint-mobile) {
        width: 100%;
        display: block;
        justify-content: center;
        text-align: center;
      }
    }

    .carousel-slide-container-split {
      width: 50%;

      @media (max-width: 900px) {
        width: 100%;
      }
    }

    #carousel-cartridge-content-container {
      width: 55%;
      padding-left: 72px;

      @media (max-width: $breakpoint-mobile) {
        width: 100%;
        margin-top: 32px;
        padding-left: 0px;
      }
    }

    #carousel-cartridge-image-container {
      width: 45%;
      display: flex;
      justify-content: flex-end;

      @media (max-width: $breakpoint-mobile) {
        width: 100%;
        display: block;
      }
    }

    // Cartridge
    #carousel-title-cartridge {
      font-size: 32px;
      line-height: 48px;
    }

    #carousel-subtitle-cartridge {
      font-size: 18px;
      line-height: 32px;
      color: #7a7a7a;
    }

    #carousel-cta-cartridge {
      width: 250px;
      margin-top: 24px;
    }
  }
}

#about-us {
  padding: 32px 16px 32px 16px;

  #home-title-about {
    text-align: center;
  }

  #home-subtitle-about {
    padding-top: 8px;
    text-align: center;
  }

  #home-description-about {
    text-align: justify;
    line-height: 24px;
    padding: 48px 32px 48px 32px;
    width: 50%;
    margin: auto;
    color: #4a4a4a;

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      text-align: center;
      padding: 32px 16px 32px 16px;
    }
  }
}

#blog {
  padding: 72px 16px 72px 16px;
  display: block;
  text-decoration: none;

  @media (max-width: 900px) {
    height: auto;
  }

  #home-blog-link-container {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  #home-cta-blog {
    margin-top: 24px;
    width: 220px;
    text-decoration: none;
  }
}
