---
---
<!doctype html>
<html lang="en">
<head>
    <title>Pixelated Blog - Updates from Pixelated Controller</title>
    <link href="{{ baseurl }}/style/main.css" rel="stylesheet">
    <link href="{{ baseurl }}/style/blog.css" rel="stylesheet">
</head>

<body>
  {% include nav.html %}

  <div id="blog-hero">
    <h1>Pixelated Blog</h1>
  </div>

  <div id="posts-index">
    <ul id="posts-list">
      {% for post in site.posts %}
      <li class="posts-list-post">
        <div class="posts-list-post-container-split posts-list-post-image-container">
          <a href="{{ post.url }}"><img src="{{ post.thumbnail }}"></a>
        </div>

        <div class="post-peek-container-split">
          <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
          <p class="post-date">{{ post.date | date: "%B %-d %Y" }}</p>
          <p class="post-subtitle">{{ post.subtitle }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</body>

{% include footer.html %}
