---
---
<!doctype html>
<html lang="en">
<head>
    <title>Pixelated Blog - Updates from Pixelated Controller</title>
    <link href="{{ baseurl }}/style/main.css" rel="stylesheet">
    <link href="{{ baseurl }}/style/home.css" rel="stylesheet">
</head>

<body>
  {% include nav.html %}

  <div id="posts-index">
    <ul id="posts-list">
      {% for post in site.posts %}
      <li class="post-peek">
        <a class="post-url" href="{{ post.url }}">
          <div class="post-peek-container">
            <div class="post-peek-container-split">
              <img src="{{ post.thumbnail }}">
            </div>

            <div class="post-peek-container-split">
              <h3>{{ post.title }}</h3>
              <p>{{ post.subtitle }}</p>
              <p>{{ post.date }}</p>
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</body>

{% include footer.html %}
