---
---

<!doctype html>
<html lang="en">
<head>
    <title>Cartridge Support</title>
    <link href="{{ baseurl }}/style/main.css" rel="stylesheet">
    <link href="{{ baseurl }}/style/blog.css" rel="stylesheet">
</head>

<body>
  {% include nav.html %}

  <div id="blog-hero">
    <h1>Cartridge Support</h1>
  </div>

  <div id="post-content">
    <h2>Frequently Asked Questions</h2>
    
    <br />
    
    <h4>I'm not able to create more than 10 games.</h4>
    <p>
      Cartridge only allows tracking up to 10 games if you have not purchased Cartridge Premium.
      <br />
      If you'd like to track your entire video game backlog, please consider purchasing Cartridge Premium to help support us.
      <br />
      If you want to remain as a Cartridge Free user, and want to track new games, you can still delete older games to add newer ones, as long as you're under the 10 game limit.
    </p>
    
    <br />
    
    <h4>I want to use the camera to take a photo of my games, but it's not letting me.</h4>
    <p>
      Cartridge requires iOS permission in order to be able to access the camera. You should have been asked for permission the first time you tapped "Take Photo"
      when editing your Game Cover Image. If you're currently not able to access the camera, it's likely you denied permission a while back. To re-enable Camera access,
      <b>go to the built-in iOS Settings app, then tap <u>Privacy</u>, <u>Camera</u>, and toggle on Cartridge.</b>
      <br />
      If you have given Cartridge permission, but are still not able to access the camera within the app, please contact us via <a href="mailto:pixelatedcontroller.apps@gmail.com">email</a> and we'll take a look!
    </p>
    
    <br />
    
    <h4>I'm trying to search IGDB for game cover images, but none are showing up.</h4>
    <p>
      We use a third-party service called IGDB to search for video game covers. For best results, try to search for the exact names of a game. For example,
      if you're looking for "The Legend of Zelda: Breath of the Wild", try using <u>"Breath of the Wild"</u> or even <u>"The Legend of Zelda: Breath of the Wild"</u>.
      If the full name of the game doesn't yield any results, try searching by <b>unique keywords</b>. For example, if you're searching for "Animal Crossing New Horizons", you can try <u>"New Horizons"</u>.
      <br />
      If you're getting no results whatsoever, it's possible that the IGDB service is down. If so, please try again at a later time.
      <br />
      If you are not able to get any kind of results after trying the above, please contact us via <a href="mailto:pixelatedcontroller.apps@gmail.com">email</a> and we'll take a look!
    </p>
    
    <br />
    
    <h4>I'm trying to purchase Cartridge Premium, but I'm not able to.</h4>
    <p>
      Make sure that you're logged into an Apple account on your iPhone or iPad, and that you have In-App Purchases enabled.
      <br />
      To check if you have In-App Purchases enabled, go to the <b>iOS Settings app, Screen Time, Content & Privacy Restrictions</b>. Make sure that <b>iTunes &amp; App Store Purchases</b> are allowed.
      <br />
      If you are still not able to purchase Cartridge Premium after ensuring the above, please contact us via <a href="mailto:pixelatedcontroller.apps@gmail.com">email</a> and we'll take a look!
    </p>
    
  </div>
</body>

{% include footer.html %}
